<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tid</key>
	<integer>156</integer>
	<key>dtcc</key>
	<string>P1502</string>
	<key>dtck</key>
	<integer>0</integer>
	<key>dtcs</key>
	<integer>1203</integer>
</dict>
</plist>
